@page "/"

<PageTitle>Home</PageTitle>


<section class="home">

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>4DotNet DevDay<br/>Azure OpenAI en Azure Search demo.</h1>
            </div>

            <div class="rol-md-5">
                <div class="text">
                    <p>
                        In deze applicatie kan je de integratie tussen Azure OpenAI en Cognitive Search uitproberen.
                        Op basis van hotel data is het mogelijk om records te zoeken die vervolgens in een verhaaltje aan de gebruiker worden weergegeven.
                    </p>
                </div>
            </div>

            <div class="col-md-12" data-v-bc160524="">
                <div class="button-group">
                    <a href="/chat" title="Start met zoeken" class="btn btn-secondary">
                        Start met zoeken
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>